<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791224979740-atdvagjg887d048gch82008sl4q3iaa9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791224979740-atdvagjg887d048gch82008sl4q3iaa9</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ23TaXz_ub7kWPBu-zr5qJI9Vs2LUCrY</string>
	<key>GCM_SENDER_ID</key>
	<string>791224979740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS.Skedul</string>
	<key>PROJECT_ID</key>
	<string>ios-skedul-c2650</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-skedul-c2650.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791224979740:ios:eae833ceae3a231ad36ad9</string>
</dict>
</plist>